.recommend-job-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    .recommend-job-pic-title-company-location-container{
        display: flex;
        gap: 1rem;
        position:relative;
        img {
            width: 3.5rem;
            height: 3.5rem;
        }
        .recommend-job-title-card-container {
            font-weight: bold;
            color: var(--accentColor);
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .recommend-job-title-company-container {
            font-size: .9rem;
            &:hover {
                color: var(--accentColor);
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .recommend-job-title-location-container {
            font-size: .7rem;
        }
    }
    .recommend-hover{
        padding: .5rem;
        border-radius: 50%;
    }

    .recommend-job-pic-footer-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        .fa-solid {
            border-radius: 50%;
        }
    }
}