.pop-up-custom-profile {
    position: fixed;
    background-color: var(--postBorderColor);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    .pop-up-custom-profile-box{
        background-color: var(--primaryColor);
        padding: 1rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1rem;
        width:17rem;
        .my-profile-picture {
            display:flex;
            justify-content:center;
            img {
                width: 60%;
            }
        }
        .pop-up-custom-profile-header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            .pop-up-custom-profile-text {
                font-weight: bold;
            }
            .fa-solid {
                padding: .5rem;
                border-radius: 50%;
            }
        }
        .file {
            .fa-solid {
                padding: .5rem;
                border-radius: 50%;
            }
            input {
                display: none;
            }
        }
        textarea {
            height: 5rem;
            border: none;
            width: 100%;
            background-color: var(--primaryColor);
            color: rgba(var(--fontColor), .6);
            &::placeholder{
                color:var(--fontColor);
            }
        }
    }
    .my-profile-picture {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }


    .pop-up-banner-customize {
        background-color: var(--primaryColor);
        padding: 1rem;
        border-radius: .5rem;
        width: 17rem;
        display:flex;
        flex-direction:column;
        gap:1rem;
        .pop-up-custom-profile-header{
            display: flex;
            font-weight:bold;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }
        .pop-up-banner-photo-container {
            img {
                margin-top: .5rem;
                width:100%;
                border-radius: .5rem;
            }
        }
        .file {
            display:flex;
            justify-content: center;
            .fa-solid {
                padding: .5rem;
                border-radius: 50%;
            }
            input {
                display:none;
            }
        }
    }
}


.my-profile-parent-container{
    display: flex;
    flex-direction: column;
    .my-profile-banner{
        width: 100%;
        position: relative;
        .camera-placement {
            position: absolute;
            top: 5%;
            right: 1%;
            background-color: var(--primaryColor);
            padding: .5rem;
            border-radius: 50%;
        }
        .pen-placement{
            position: absolute;
            right: 1%;
            top: 100%;
            color: var(--primaryColor);
            background-color: var(--fontColor);
            padding: .5rem;
            border-radius: 50%;
        }

        img {
            width: 100%;
            height:100%;
        }
        .my-profile-picture {
            cursor: pointer;
            position: absolute;
            top: 30%;
            left: 5%;
            width: 20%;
            background-color: var(--primaryColor);
            padding: .4rem;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }
    .my-profile-info-container{
        padding: 2rem 1rem 1rem;
        font-size: 1rem;
        .my-profile-full-name {
            font-size: 1.4rem;
            font-weight: bold;
            word-wrap: break-word;
        }
        .my-profile-follower-connections{
            display: flex;
            gap: 1rem;
            color: var(--accentColor);
            .hover {
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        .my-profile-button-container{
            display: flex;
            gap:1rem;
            align-items: center;
            position:relative;
            .fa-solid {
                padding: .4rem;
                border-radius: 50%;
            }
            .my-profile-pop-up-button{
                position: absolute;
                top: -3rem;
                left: 2.5rem;
                padding: .1rem;
                background-color: var(--primaryColor);
                border-radius: .5rem;
                box-shadow: var(--boxShadowColor);
                .pop-up-button{
                    padding: .3rem 1rem;
                    border-radius: .5rem;
                }
            }
        }
        .my-profile-logout{
            margin-top: 3rem;
            max-width:fit-content;
        }
    }
}

@media screen and (min-width:850px) {
    .my-profile-parent-container {
        max-width: 46rem;
    }
}