.profile-username-description-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    
    .profile-username-container {
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
    }
    .profile-description-container {
        font-size: .7rem;
        font-weight: 100;
        text-align: center;
        max-width: 10rem;
    }
}