.profile-image-container {
    position: relative;
    width: 100%;
    .profile-background-image-container {
        width: inherit;
        img {
            width: inherit;
            height: 60px;
        }
    }
    .profile-container {
        background-color: white;
        border-radius: 50%;
        padding: .2rem;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}