.job-page-loading-page-container{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.job-page-suggested-recommended-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}