@import './hover.scss';

:root {
    --primaryColor: #fff;
    --secondaryColor: #f3f2ef;
    --accentColor: #0a66c2;
    --accentButtonColor: rgba(112,181,249,.2);
    --fontColor: rgba(0,0,0,.9);
    --anchorFontColor: rgba(254,222,179,.9);
    --boxColor: rgba(0,0,0,.15);
    --postBorderColor: rgba(0,0,0,0.5);
    --errorColor: #d11124;
    --hoverColor: #004182;
    --searchColor: #eef3f8;
    --boxShadowColor: 0 0 0 1px rgba(0,0,0,.08);
}