.feed-hover {
    &:hover{
        background-color: var(--boxColor);
        cursor: pointer;
        user-select: none;
    }
}

.follow-button-effect {
    border-radius: 1.6rem;
    color: var(--accentColor);
    border: 1px solid var(--accentColor);
    padding: .3rem 1rem;
    user-select: none;
    &:hover{
        box-shadow: inset 0 0 0 2px var(--accentColor);
        background-color: var(--accentButtonColor);
        cursor: pointer;
    }
}
.ignore-button-effect {
    border-radius: 1.6rem;
    color: var(--fontColor);
    padding: .3rem 1rem;
    user-select: none;
    &:hover{
        border: 1px solid var(--postBorderColor);
        box-shadow: inset 0 0 0 1px var(--postBorderColor);
        background-color: var(--boxColor);
        cursor: pointer;
    }
}