@import '../../server/base/base.scss';
.navbar-search-templates-container {
    position: relative;
    #navbar-search-component {
        display: inline-flex;
        border: none;
        background-color: var(--searchColor);
        color: (--fontColor);
        height: 2.2rem;
        padding: 0 .5rem;
        border-radius: .4rem;
        z-index: 3;
    }
}