@import '../../server/base/base.scss';

#navbar-home-templates-component {
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .3rem 0;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: var(--boxShadowColor);
    user-select: none;
    img {
        height: 2.8rem;
    }
}