.rich-text-templates-container {
    textarea {
        width: 100%;
        border: none;
        outline: none;
        resize: none;
        overflow: hidden;
        background-color: var(--primaryColor);
    }
    .rich-text-render-container {
        max-width: 30rem;
    }
}