@import '../../../server/base/base.scss';
.recommend-card-container{
    font-size: .9rem;
    max-width: 19.5rem;
    padding: .5rem 0;
    z-index: 0;

    .recommend-card-hover-effect:hover {
        background-color: var(--boxColor);
        cursor: pointer;
    }

    .recommend-card-follow-button {
        z-index: 5;
        max-width: fit-content;
        margin-top: .5rem;
        padding: .4rem 1rem;
        border-radius: 1.6rem;
        border: 1px solid var(--postBorderColor);
        color: var(--postBorderColor);
        user-select: none;
        &:hover {
            border: 1px solid var(--fontColor);
            color: var(--fontColor);
            cursor: pointer;
        }
    }
}