.footer-attribute-wrapper-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1rem;
    img {
        height: 15px;
    }
    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .footer-header-component{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .2rem;
    }
}