@import '../server/base/base.scss';
#box-inner-templates-component {
    background-color: var(--primaryColor);
    box-shadow: var(--boxShadowColor);
    border-radius: .8rem;
    overflow: hidden;
}

@media screen and (max-width:850px){
    #box-inner-templates-component{
        width: 100vw;
        border-radius: 0;
    }
}