
.job-menu-component-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    .job-menu-icon-inner-container{
        padding: 1rem;
        .manage-my-job-header-component{
            padding: 0 0 .5rem .5rem;
            font-weight: bold;
        }
        .set-width-job {
            width: 20rem;
        }
        .show-button-job-component{
            display: inline-block;
            padding: .5rem;
        }
    }
    .post-a-job-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-width: fit-content;
        padding: .5rem 1.5rem;
        font-size: 1rem;
    }
}